<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.css">
  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" href="css/home.css">
  
</head>

<body>
 
<hr>
<div class="container">
        <div class="col-md-3 " style="background: #f8f8f8">
            <!-----------------------------sidebar---------------------------->
            <div class="navbar-default sidebar">
                <div class="sidebar-nav">
                    <ul class="nav linh" id="side-menu">
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-book fa-fw"></i>Area<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Northern</a>
                                </li>
                                <li>
                                    <a href="#">Central</a>
                                </li>
                                <li>
                                    <a href="#">South</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-newspaper-o fa-fw"></i>Latest Sceneries</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i>Most popular Sceneries</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-phone fa-fw"></i>Request</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-university fa-fw">Contact</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-----------------------------end sidebar---------------------------->
        </div>
        <div class="col-md-9" style="background: #f8f8f8">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title text-center"><%= @titles %></h2>
                </div>
                <div class="col-md-4 margin-top">
                  <%= form_tag home_path, :method => 'get'  do %>
                    <i class="fa fa-search fa-fw">
                     <%= submit_tag "", :name => nil %>
                    </i>
                    <%= text_field_tag :search, params[:search], hide_label: true, placeholder: 'Search sceneries'%>
                    
                  <% end %>
                </div>
            </div>
            
            <% @sceneries.each do |image|%>
            <div class="col-md-4">
                <div class="product-image-wrapper polaroid" >
                        <div class="productinfo text-center margin-top">
                            <div class="saishou">
                            <a href="">
                                <%= image_tag(image.scenery_picture) %>
                            </a>
                            </div>
                            <div class="saigo" style="display: none">
                                <a href="" class="margin btn btn-custom btn-success green"><i class="fa fa-book fa-fw"></i>  Show</a>
                                <a href="" class="btn btn-custom btn-success green"><i class="fa fa-pencil fa-fw"></i>  Review</a>
                            </div>
                            <h2><%= image.scenery_name %></h2>
                            <h4><%= image.scenery_address %></h4>
                        </div>
                </div>
            </div>
          <% end %>
          
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.js"></script>
<script type="text/javascript" src="javascript/js/home.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
