<p id="notice"><%= notice %></p>

<h1>Kuchikomis</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Scenery</th>
      <th>Review content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kuchikomis.each do |kuchikomi| %>
      <tr>
        <td><%= kuchikomi.user_id %></td>
        <td><%= kuchikomi.scenery_id %></td>
        <td><%= kuchikomi.review_content %></td>
        <td><%= link_to 'Show', kuchikomi %></td>
        <td><%= link_to 'Edit', edit_kuchikomi_path(kuchikomi) %></td>
        <td><%= link_to 'Destroy', kuchikomi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kuchikomi', new_kuchikomi_path %>
