<p id="notice"><%= notice %></p>

<!--<h1>Images</h1>-->

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Scenery name</th>
      <th>Scenery address</th>
      <th>Scenery picture</th>
      <th>Description</th>
      <th>Vote counts</th>
      <th>Scenery votepoint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.user_id %></td>
        <td><%= image.title %></td>
        <td><%= image.scenery_name %></td>
        <td><%= image.scenery_address %></td>
        <td><%= image_tag image.scenery_picture, :width =>'50', :height =>'50' %></td>
        <td><%= image.description %></td>
        <td><%= image.vote_counts %></td>
        <td><%= image.scenery_votepoint %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
