<body class="scroll">
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <!--<p><a href="#">Link</a></p>-->
      <!--<p><a href="#">Link</a></p>-->
      <!--<p><a href="#">Link</a></p>-->
      <!--<%= link_to 'New Image', new_image_path %>-->
    </div>
    
    <div class="col-sm-7 text-left">
      <p>
        <strong>User:</strong>
        <%= @image.user.email %>
      </p>
      
      <h2 class="title text-center">
        <strong>Title:</strong>
        <%= @image.title %>
      </h2>
      
      <p>
        <strong>Name:</strong>
        <%= @image.scenery_name %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @image.scenery_address %>
      </p>
      
      <p>
        <!--<strong>Scenery picture:</strong>-->
        <%= image_tag(@image.scenery_picture, :width =>'600', :height =>'auto') %>
      </p>
      
      <p>
        <strong>Description:</strong>
        <%= @image.description %>
      </p>
      
      <p>
        <strong>Vote counts:</strong>
        <%= @image.vote_counts %>
      </p>
      
      <p>
        <strong>Scenery votepoint:</strong>
        <%= @image.scenery_votepoint %>
      </p>
      <p><strong><%= link_to 'Edit', edit_image_path(@image) %> |
          <%= link_to 'Back', images_path %></strong></p>
      
      <button id="like" class="heart" onclick="myFunction()">
      </button>
      
      <script>
        function myFunction() {
            document.getElementById("like").style.backgroundImage = "url(https://s.w.org/images/core/emoji/2.2.1/svg/2764.svg)"
        }
      </script>
      <!--<aura:component >-->
      <!--<input id="toggle-heart" type="checkbox" />-->
      <!--<label for="toggle-heart"><img draggable="false" class="emoji" alt="â¤" src="https://s.w.org/images/core/emoji/2.2.1/svg/2764.svg"></label>-->
      <!--</aura:component>-->

    </div>
  </div>
</div>
</body>
<p id="notice"><%= notice %></p>






